body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}﻿

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration:none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  min-width: 80px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 15px 40px;
  padding-top: 17px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: #d5d5d5;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */

/* Навигация */

.main-navigation {
  color: #000000;
  line-height: 30px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
  color: #000000;
}

.site-navigation-current a {
  border-bottom: 2px solid;
  border-color: #fb565a;
  padding-bottom: 9px;
}

.site-navigation-current .cart-link {
  padding-bottom: 3px;
}

.cart a {
  display: inline-block;
  width: 112px;
}

/* Навигация */

/* Хедер */



/* Главная */

/* Слайдер */

.slider {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider h2 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.only-night {
  letter-spacing: 1px;
}

.slider-button {
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  padding-left: 54px;
  padding-right: 55px;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* Слайдер */

/* Варианты работ */



.work-options-list li {
  text-align: left;
  width: 300px;
}

.work-options-img {
  margin-bottom: 18px;
}

h3.work-options-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.work-options-site-button {
  background-color: #fb565a;
  padding-right: 40px;
}

.work-options-site-button:hover {
  background-color: #e74246;
}

.work-options-site-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.work-options-app-button {
  background-color: #00ca74;
  padding-right: 40px;
}

.work-options-app-button:hover {
  background-color: #00bc6c;
}

.work-options-app-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.work-options-presentation-button {
  background-color: #efc84a;
  padding-right: 40px;
}

.work-options-presentation-button:hover {
  background-color: #eab534;
}

.work-options-presentation-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.work-options-site-button:active,
.work-options-app-button:active,
.work-options-presentation-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Варианты работ */

/* О студии Нердс */

.about-our-studio b {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.carry-out-orders span {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
}

.accuracy-in-everything-title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.accuracy-in-everything-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accuracy-in-everything-list b {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.accuracy-in-everything-list span {
  line-height: 18px;
}

/* О студии Нердс */

/* Клиенты */

.clients-list {
  list-style: none;
}

.our-client {
  opacity: 0.2;
}

.our-client:hover {
  opacity: 1.0;
}

.our-client:active {
  opacity: 0.1;
}

/* Клиенты */

/* Карта и контакты */

.map-and-contacts {
  position: relative;
}

.map-and-contacts::before {
  position: absolute;
  content: "";
  z-index: 0;
  height: 416px;
  margin-left: -140px;
  background-color: #e9e5dc;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.map-and-contacts {
  padding-top: 1px;
}

.contact-with-us {
  position: absolute;
  background-color: #ffffff;
  width: 219px;
  min-height: 209px;
  margin-top: 54px;
  padding: 50px;
  padding-top: 49px;
  padding-bottom: 47px;
}

.contact-with-us h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-with-us p {
  margin: 0;
  padding: 0;
  padding-left: 2px;
  color: #666666;
  line-height: 18px;
}

.contact-with-us p:nth-child(2) {
  padding-bottom: 18px;
}

.contact-with-us p:nth-child(3) {
  padding-bottom: 37px;
}

.write-us {
  background-color: #fb565a;
  width: 150px;
  padding-left: 35px;
  padding-right: 34px;
}

/* Карта и контакты */

/* Главная */



/* Каталог */

.catalog-title-wrapper {
  background-color: #eeeeee;
  margin-bottom: 55px;
}

.catalog-title {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

/* Фильтр товаров */

/* Фильтр стоимости */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.filter-item legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px 10px;
  margin-left: 8px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}


/* Фильтр стоимости */

/* Блок сортировки */

.sorting-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}

.sorting-block span {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 3px;
}

.sorting-list {
  display: flex;
  width: 360px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1px;
}

.sorting-list li:nth-child(1) {
  padding-right: 25px;
}

.sorting-list li:nth-child(2) {
  padding-right: 27px;
}

.sorting-list li:nth-child(3) {
  padding-right: 47px;
}

.sorting-list li:nth-child(4) {
  padding-right: 18px;
}

.sorting-list a {
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list a:hover {
  opacity: 0.6;
}

.sorting-list-current a,
.sorting-list-current a:hover,
.sorting-list a:active {
  opacity: 1;
}

/* Блок сортировки */

.template-filter {
  width: 260px;
}

.filter-options fieldset {
  border: none;
}

.filter-options legend {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-item:nth-child(1) {
  margin-bottom: 54px;
}

.filter-item:nth-child(2) {
  margin-bottom: 43px;
}

.filter-item:nth-child(3) {
  margin-bottom: 46px;
}

.template-filter-options li {
  padding-left: 7px;
  padding-top: 15px;
}

.template-filter-options li:nth-child(3) {
  padding-top: 16px;
}

.template-filter-options li:nth-child(4) {
  padding-top: 18px;
}

.template-filter-options label {
  padding-left: 30px;
}

.template-filter-options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-input-radio + .radio-indicator {
  position: relative;
}

.filter-input-radio + .radio-indicator::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -4px;
  right: 101px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.filter-input-radio[value="fixed"] + .radio-indicator::before {
  top: -3px;
  right: 130px;
}

.filter-input-radio[value="rubber"] + .radio-indicator::before {
  top: -3px;
  right: 91px;
}

.filter-input-radio:checked + .radio-indicator::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-radio:hover + .radio-indicator::before {
  opacity: 1;
}

.filter-input-radio:disabled + .radio-indicator::before {
  opacity: 0.1;
}

.filter-input-radio:disabled + .radio-indicator {
  color: rgba(40, 49, 54, 0.1);
}

.filter-input-checkbox + .checkbox-indicator {
  position: relative;
}

.filter-input-checkbox + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -3px;
  right: 77px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.filter-input-checkbox[value="advantage"] + .checkbox-indicator::before {
  top: -2px;
  right: 156px;
}

.filter-input-checkbox[value="news"] + .checkbox-indicator::before {
  top: -1px;
  right: 77px;
}

.filter-input-checkbox[value="gallery"] + .checkbox-indicator::before {
  top: -3px;
  right: 72px;
}

.filter-input-checkbox[value="cart"] + .checkbox-indicator::before {
  top: -3px;
  right: 76px;
}

.filter-input-checkbox:checked + .checkbox-indicator::before {
  width: 27px;
  height: 23px;
  right: 73px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox[value="advantage"]:checked + .checkbox-indicator::before {
  right: 152px;
}

.filter-input-checkbox[value="gallery"]:checked + .checkbox-indicator::before {
  right: 68px;
}

.filter-input-checkbox[value="cart"]:checked + .checkbox-indicator::before {
  right: 72px;
}

.filter-input-checkbox:hover + .checkbox-indicator::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + .checkbox-indicator::before {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + .checkbox-indicator {
  color: rgba(40, 49, 54, 0.3);
}

.template-filter-options label {
  line-height: 20px;
}

.filter-button {
  width: 100%;
  color: #000000;
  font-weight: 500;
  line-height: 18px;
  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/* Фильтр товаров */

/* Каталог */



/* Футер */

.footer-social {
  text-align: left;
  list-style: none;
}

.footer-social a {
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.social-network-discount b {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.social-network-discount span {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* Футер */


/* Сетка главной */

.main-navigation {
  background-color: #eeeeee;
  margin: 0 auto;
}

.main-header-logo {
  width: 160px;
}

.site-navigation {
  width: 445px;
  min-height: 68px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-navigation li {
  padding-right: 45px;
}

.site-navigation li:nth-child(2) {
  padding-right: 47px;
}

.site-navigation li:last-child {
  padding: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 150px;
  min-height: 68px;
  margin: 0;
  padding: 0;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.user-navigation::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  right: 100px;
  top: 26px;
  background-color: #eeeeee;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 124px;
}

.main-container {
  margin: 0 auto;
}

/* Слайдер */

[class*="slide-"] {
  position: relative;
  display: none;
  padding-top: 68px;
  padding-bottom: 80px;
}

[class*="slide-"]:nth-child(1) {
  display: block;
}

.slider-position {
  position: relative;
}

.slider h2 {
  margin: 0;
  max-width: 520px;
  margin-bottom: 26px;
}

.slider p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
}

.slider-switch-button {
  position: relative;
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: uppercase;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-switch-button::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 556px;
  bottom: 96px;
  z-index: 5;
  width: 88px;
  height: 18px;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide-one {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 431px 8px;
}

.slide-two::before {
  position: absolute;
  content: "";
  width: 663px;
  height: 430px;
  left: 496px;
  top: -9px;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
}

.slide-three {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 9px;
}

/* Слайдер */

.work-options-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-nerds  {
  padding-top: 40px;
  border-top: 2px solid #eeeeee;
}

.work-options-content {
  width: 250px;
  margin-bottom: 32px;
}

.work-options {
  margin-bottom: 80px;
}

.about-nerds {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.about-our-studio {
  width: 660px;
  padding-top: 34px;
}

.about-our-studio b,
.carry-out-orders span {
  display: block;
  margin-bottom: 33px;
}

.about-our-studio p {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.carry-out-orders span {
  margin-bottom: 24px;
}

.orders-list {
  margin: 0;
  padding: 0;
}

.orders-list li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.orders-list li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 1px;
  top: 11px;
  background-color: #fb565a;
}

.our-statistics {
  width: 360px;
}

.accuracy-in-everything {
  padding-top: 29px;
}

.accuracy-in-everything-title {
  display: block;
  padding-left: 17px;
  margin-bottom: 41px;
}

.accuracy-in-everything-list {
  display: flex;
}

.accuracy-in-everything-list li {
  width: 100px;
}

.accuracy-in-everything-list li:nth-child(2) {
  padding-left: 19px;
  padding-right: 19px;
}

.accuracy-in-everything-list b {
  display: block;
  margin-bottom: 19px;
}

.accuracy-in-everything-list span {
  display: inline-block;
}

.accuracy-in-everything-list sup {
  font-size: 28px;
}

.clients {
  padding-top: 46px;
  padding-bottom: 37px;
  padding-left: 31px;
  padding-right: 42px;
  margin-bottom: 79px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
/*
.clients-list li:nth-child(1) {
  padding-top: 16px;
}

.clients-list li:nth-child(2) {
  padding-left: 96px;
}

.clients-list li:nth-child(3) {
  padding-left: 103px;
  padding-top: 19px;
}

.clients-list li:nth-child(4) {
  padding-left: 121px;
  padding-top: 6px;
}
*/
.clients-list li {
  position: relative;
}

.clients-list li::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  top: 50%;
  right: -51px;
  transform: translateY(-58%);
  background-color: #eeeeee;
}

.clients-list li:nth-child(4)::before {
  content: none;
}
/*
.clients-list li:nth-child(1)::before {
  right: 0;
}

.clients-list li:nth-child(3)::before {
  left: 44px;
}

.clients-list li:nth-child(4)::before {
  left: 56px;
}
*/
.map-and-contacts {
  min-height: 416px;
  padding-bottom: 1px;
}



.main-footer {
  display: flex;
  margin-top: 68px;
  margin-bottom: 70px;
  padding-left: 23px;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer-social li {
  padding-left: 11px;
}

.footer-social li:nth-child(1) {
  padding-left: 0;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}

.social-network-discount {
  margin: 0;
  margin-left: 138px;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
}

.social-network-discount b {
  padding-bottom: 10px;
}

/* Модальное окно */

.modal-position {
  display: none;
  position: relative;
}

.modal-write-us,
.modal-write-us-inner {
  position: absolute;
  top: -554px;
  left: 100px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  width: 760px;
  margin: 0 auto;
  padding: 67px 100px;
}

.modal-write-us-inner {
  top: -546px;
}

.modal-title {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.your-name-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;
}

.form-write-us label {
  display: block;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 8px;
}

.form-write-us p {
  margin: 0;
  padding: 0;
}

.form-field {
  box-sizing: border-box;
  width: 360px;
  padding: 14px;
  padding-left: 13px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  background-color: #ffffff;
  line-height: 18px;
}

.form-field:hover {
  border: 2px solid #b4b9bb;
}

.form-field:focus {
  border: 2px solid #000000;
}

label[for="your-letter"] {
  margin-bottom: 9px;
}

textarea.form-field {
  resize: none;
  width: 100%;
  height: 118px;
  padding-top: 12px;
  margin-bottom: 40px;
}

::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.form-field:focus::placeholder {
  color: #444444;
}

.form-field:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.form-button {
  width: 260px;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  text-transform: uppercase;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 17px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  opacity: 0.3;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -3px;
  width: 27px;
  height: 4px;
  background-color: #fb565a;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


/* Модальное окно */

/* Сетка главной */



/* Сетка каталога */

/* Товары */

.template-examples-list {
  list-style: none;
}

.template-example {
  position: relative;
}

.template-example img {
  position: relative;
  z-index: 1;
}

.template-example::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: -40px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
}

.template-example:hover::before {
  opacity: 1;
}

.template-example:hover .template-example-content {
  z-index: 3;
}

.template-example-content {
  position: absolute;
  z-index: 0;
  top: 345px;
  width: 360px;
  min-height: 231px;
  color: #666666;
  line-height: 18px;
  background-color: #eeeeee;
  text-align: center;
}

.template-example:nth-child(3) .template-example-content,
.template-example:nth-child(4) .template-example-content {
  top: 348px;
}

.template-example:nth-child(5) .template-example-content,
.template-example:nth-child(6) .template-example-content {
  top: 344px;
}

.template-example-link {
  padding-top: 27px;
  padding-bottom: 15px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.template-example-content span {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.template-example:nth-child(1) span,
.template-example:nth-child(3) span,
.template-example:nth-child(4) span {
  width: 190px;
}

.template-example-button {
  width: 120px;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fb565a;
  margin: 0 auto;
}

.template-example-button:hover {
  background-color: #e74246;
}

.template-example-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* Товары */

/* Блок пагинации */

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  line-height: 18px;
}

[class*="pagination-button"] {
  padding: 0;
  margin: 0;
  padding-top: 17px;
  margin-right: 11px;
  min-width: 50px;
  min-height: 33px;
  color: #000000;
  width: 10px;
  background-color: #eeeeee;
}

.pagination-button-current {
  padding-top: 14px;
  min-width: 44px;
  min-height: 30px;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.pagination-button-next {
  width: 260px;
}

[class*="pagination-button"]:hover {
  background-color: #dfdfdf;
}

[class*="pagination-button"]:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-button-current:hover,
.pagination-button-current:active {
  background-color: #ffffff;
  color: #000000;
  box-shadow: none;
}

/* Блок пагинации */

.catalog-title {
  width: 750px;
  padding-top: 68px;
  padding-bottom: 108px;
  padding-left: 17px;
}

.template-wrapper {
  display: flex;
  justify-content: space-between;
}

.template-examples-list {
  margin: 0;
  padding: 0;
  min-height: 1800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 53px;
}

.template-examples-list li {
  margin-bottom: 66px;
}

.template-examples-list li:nth-child(5),
.template-examples-list li:nth-child(6) {
  margin-bottom: 0px;
}

.template-examples {
  width: 760px;
}

.template-example-content {
  width: 360px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.template-directory {
  margin-bottom: 59px;
}

/* Сетка каталога */
