body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}﻿

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration:none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 15px 40px;
  padding-top: 17px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */

/* Навигация */

.main-navigation {
  color: #000000;
  line-height: 30px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
  color: #000000;
}

.site-navigation-current a {
  border-bottom: 2px solid;
  border-color: #fb565a;
  padding-bottom: 3px;
}

/* Навигация */

/* Хедер */



/* Главная */

/* Слайдер */

.slider {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider h2 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.only-night {
  letter-spacing: 1px;
}

.slider-button {
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  padding-left: 54px;
  padding-right: 55px;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* Слайдер */

/* Варианты работ */



.work-options-list li {
  text-align: left;
  width: 300px;
}

.work-options-img {
  margin-bottom: 18px;
}

h3.work-options-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.work-options-site-button {
  background-color: #fb565a;
  padding-right: 39px;
}

.work-options-site-button:hover {
  background-color: #e74246;
}

.work-options-site-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.work-options-app-button {
  background-color: #00ca74;
  padding-right: 39px;
}

.work-options-app-button:hover {
  background-color: #00bc6c;
}

.work-options-app-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.work-options-presentation-button {
  background-color: #efc84a;
  padding-right: 39px;
}

.work-options-presentation-button:hover {
  background-color: #eab534;
}

.work-options-presentation-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.work-options-site-button:active,
.work-options-app-button:active,
.work-options-presentation-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Варианты работ */

/* О студии Нердс */

.about-our-studio b {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.carry-out-orders span {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
}

.accuracy-in-everything span {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.accuracy-in-everything-list {
  list-style: none;
}

.accuracy-in-everything-list b {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.accuracy-in-everything-list span {
  line-height: 18px;
}

/* О студии Нердс */

/* Клиенты */

.clients-list {
  list-style: none;
}

.our-client {
  opacity: 0.2;
}

.our-client:hover {
  opacity: 1.0;
}

.our-client:active {
  opacity: 0.1;
}

/* Клиенты */

/* Карта и контакты */

.map-and-contacts {
  position: relative;
}

.map-and-contacts::before {
  position: absolute;
  content: "";
  z-index: 0;
  width: 1440px;
  height: 416px;
  margin-left: -140px;
  background-color: #e9e5dc;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.map-and-contacts {
  padding-top: 1px;
}

.contact-with-us {
  position: absolute;
  background-color: #ffffff;
  width: 219px;
  min-height: 208px;
  margin: 50px 0;
  padding: 50px;
}

.contact-with-us h2 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-with-us p {
  color: #666666;
  line-height: 18px;
}

.write-us {
  background-color: #fb565a;
}

/* Карта и контакты */

/* Главная */



/* Каталог */

.catalog-title-wrapper {
  background-color: #eeeeee;
  margin-bottom: 60px;
}

.catalog-title {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

/* Фильтр товаров */

.filter-options fieldset {
  border: none;
}

.filter-options legend {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.template-filter-options {
  list-style: none;
}

.template-filter-options label {
  color: #283136;
  line-height: 20px;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  color: #000000;
  font-weight: 500;
  line-height: 18px;
  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/* Фильтр товаров */

/* Товары */

.template-examples-list {
  list-style: none;
}

.template-example-content {
  color: #666666;
  line-height: 18px;
  background-color: #eeeeee;
}

.template-example-link {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.template-example-button {
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fb565a;
}

.template-example-button:hover {
  background-color: #e74246;
}

.template-example-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* Товары */

/* Каталог */



/* Модальное окно */

.modal-write-us {
  color: #000000;
}

.modal-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.form-write-us label {
  font-weight: 700;
  line-height: 18px;
}

.form-button,
.modal-close {
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  text-transform: uppercase;
  border: none;
}

/* Модальное окно */

/* Футер */

.footer-social {
  text-align: left;
  list-style: none;
}

.footer-social a {
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.social-network-discount b {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.social-network-discount span {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* Футер */


/* Сетка главной */

.main-navigation {
  background-color: #eeeeee;
  width: 1440px;
  margin: 0 auto;
}

.main-header-logo {
  width: 160px;
}

.site-navigation {
  width: 440px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-right: 7px;
  display: flex;
  justify-content: space-between;
}

.user-navigation {
  position: relative;
  width: 150px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  text-align: right;
}

.user-navigation::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  right: 100px;
  top: 33px;
  background-color: #eeeeee;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
}

.main-container {
  width: 1440px;
  margin: 0 auto;
}

/* Слайдер */

[class*="slide-"] {
  position: relative;
  display: none;
  padding-top: 68px;
  padding-bottom: 80px;
}

[class*="slide-"]:nth-child(1) {
  display: block;
}

.slider-position {
  position: relative;
}

.slider h2 {
  margin: 0;
  max-width: 520px;
  margin-bottom: 26px;
}

.slider p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
}

.slider-switch-button {
  position: relative;
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: uppercase;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-switch-button::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 556px;
  bottom: 96px;
  z-index: 5;
  width: 88px;
  height: 18px;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide-one {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 431px 8px;
}

.slide-two::before {
  position: absolute;
  content: "";
  width: 663px;
  height: 430px;
  left: 496px;
  top: -9px;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
}

.slide-three {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 9px;
}

/* Слайдер */

.work-options-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-nerds  {
  padding-top: 40px;
  border-top: 2px solid #eeeeee;
}

.work-options-content {
  width: 250px;
  margin-bottom: 32px;
}

.work-options {
  margin-bottom: 80px;
}

.about-nerds {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-our-studio {
  width: 660px;
  padding-top: 34px;
}

.about-our-studio span {
  display: block;
  margin-bottom: 33px;
}

.about-our-studio p {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.carry-out-orders span {
  margin-bottom: 24px;
}

.orders-list {
  margin: 0;
  padding: 0;
}

.orders-list li {
  padding-left: 36px;
  padding-bottom: 24px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.clients {
  margin-bottom: 50px;
}

.map-and-contacts {
  min-height: 416px;
  padding-bottom: 1px;
}

.modal-write-us {
  width: 860px;
  margin: 0 auto;
  padding: 80px 100px;
}

.main-footer {
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.social-network-discount {
  margin: 0;
  margin-left: 130px;
  display: flex;
  flex-direction: column;
}

/* Сетка главной */

/* Сетка каталога */

.catalog-title {
  padding-top: 80px;
  padding-bottom: 110px;
}

.template-wrapper {
  display: flex;
  justify-content: space-between;
}

.template-examples-list {
  margin: 0;
  padding: 0;
  min-height: 2000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.template-examples {
  width: 760px;
}

.template-example-content {
  width: 360px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.template-directory {
  margin-bottom: 60px;
}

/* Сетка каталога */
